/* General body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

/* Headings */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Buttons and Select dropdown styling */
select, button {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    display: inline-block; /* Align items horizontally */
}

button:hover {
    background-color: #4a54e1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

select {
    background-color: white;
    color: #333;
}

/* Container for grouped actions */
.action-group {
    background-color: #e9e9ff;
    padding: 10px;
    border-radius: 8px;
    display: flex; /* Ensure all items are in a row */
    align-items: center; /* Align vertically */
    justify-content: center; /* Centering horizontally */
}

/* Worker status styles */
/* Worker status styles */
/* Worker status styles */
.worker-status-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.worker-status {
    flex: 0 0 31%; /* Ensure three containers per row with a small margin */
    margin: 1%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    min-height: 150px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* Active worker highlighting */
.active-yes {
    color: green;
}

.active-no {
    color: red;
}

/* List styles for active workers */
#activeWorkers ul {
    list-style-type: none;
    padding: 0;
}

#activeWorkers li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

#activeWorkers li:last-child {
    border-bottom: none;
}

.task-info {
    margin-top: 10px;
    padding: 15px;
    background-color: #eef;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* Task Metrics Container styles */
.task-metrics-container {
    display: flex;
    justify-content: space-around; /* Distribute space evenly around the items */
    margin: 20px 0;
}

.metric-box {
    flex-grow: 1; /* Each box will grow equally */
    text-align: center;
    padding: 15px;
    margin: 0 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.metric-box h4 {
    margin-bottom: 10px;
    color: #333;
}

.metric-box p {
    font-size: 20px;
    font-weight: bold;
    color: #4a54e1; /* Matching the hover color of buttons for consistency */
}
